/*Quitar margenes*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Navegador*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #2c1e1a;
    color:white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a{
    color: white;
    text-decoration: none;
}

/*SECCION CARTAS*/
.hero {
    height: 60vh;
    background-image: url('./cafe.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.btn {
    margin-top: 20px;
    padding: 10px 25px;
    background: #d4a373;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/*Seccion de caracteristicas */
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background: #fefae0;
}

.card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width:30%;
}

.menu   {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background: #b77545;
}

@media (max-width: 768px) {
    .features{
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .navbar {
        flex-direction: column;
        gap: 15px;
    }
}
